.container {
  border: solid;
  margin: 10px 10px;
  padding: 10px 10px;
}

input {
  width: 300px;
  margin: 10px;
  padding: 5px;
}

button {
  width: 150px;
  border: 0;
  background-color: rgb(0, 162, 232);
  color: white;
  padding: 7px;
}

.box {
  display: flex;
}

.text {
  width: 300px;
  border: solid 5px black;
  margin: 10px;
  padding: 5px;
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
  overflow: scroll;
}

.count {
  width: 100px;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 2px;
  background-color: #ff7f27;
  padding: auto;
  font-size: xx-large;
  border-radius: 10px;
}

.col {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0 auto;
}

.data {
  display: flex;
  border: solid 4px black;
  margin-bottom: 5px;
  width: 100%;
}

h3 {
  font-size: 25px;
  width: 85%;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #fff200;
}

i {
  width: 15%;
  color: red;
  font-size: 40px;
  border-left: solid black;
  padding: 5px;
}
